/vendor
/node_modules
/storage/*.key
/storage/pail
/public/storage
/public/build
/public/hot
/.phpunit.cache
/.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.zed
.env
.env.backup
.env.production

.vercel
